<%= form_for @developer do |f| %>
  <% if @developer.errors.any? %>
    <ul>
      <% @developer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br><br>

  <%= f.label :gender %><br>
  <%= f.select(:gender, M: 1, F: 2) %><br><br>

  <%= f.label :indication_id %><br>
  <%= f.collection_select(:indication_id, Developer.all, :id, :name, { prompt: 'None'}) %><br><br>

  <%= f.label :resume %><br>
  <%= f.text_area :resume %><br><br>

  Addresses:
  <ul>
    <%= f.fields_for :addresses do |addresses_form| %>
      <li>
        <%= addresses_form.label :name %><br>
        <%= addresses_form.text_field :name %><br><br>

        <%= addresses_form.label :street %><br>
        <%= addresses_form.text_field :street %><br><br>
      </li>
    <% end %>
  </ul>

  <%= f.submit %>
<% end %>
