<%= form_for @developer do |f| %>
  <% if @developer.errors.any? %>
    <ul>
      <% @developer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br><br>

  <%= f.label :gender %><br>
  <%= f.select(:gender, M: 1, F: 2) %><br><br>

  <%= f.label :indication_id %><br>
  <%= f.collection_select(:indication_id, Developer.all, :id, :name, { prompt: 'None'}) %><br><br>

  <%= f.label :resume %><br>
  <%= f.text_area :resume %><br><br>

  <%= f.submit %>
<% end %>
